@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
  }

  .App {
    background-size: fixed;
    /* background-image: url("https://i.ytimg.com/vi/KcCETRC8q9o/maxresdefault.jpg"); */
    background-image: url("https://wallpaperaccess.com/full/288727.jpg");
      
  }

  .App h1 {
    font-size: 60px;
    font-weight: bolder;
    align-items: center;
    color: white
  
  }

  .app-description {
    padding: 50px;
  }

  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .search-bar {
    padding: 30px;
  }

  .search-results {
    padding: 30px;
    background-color:ivory;
    border-radius: 25px;
    min-height: 46vh;
  }

  .search-space {
    padding: 20px;
  }

  .nomlist-space {
    padding: 20px;
  }

  .nominate-button {
    padding:15px;
  }

  .nominate-button button:enabled {
    background-color: #ecf0f1;
    border-radius: 8px;
  }

  .nominate-button button:disabled {
    background-color: grey;
    border-radius: 8px;
    color: grey;
  }

  .footer {
    padding: 20px;
    color: white;
    background-color:black;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

  .col-sm {
    color: white;
    font-size: 10px;
  }



